[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
requests = "*"
django = "*"
psycopg2 = "*"
mysqlclient = "*"
pillow = "*"
django-bootstrap4 = "*"
django-widget-tweaks = "*"

[requires]
python_version = "3.8"
